.mg-td-10{margin: 0.1rem 0;}
.mg-td-20{margin: 0.2rem 0;}
.mg-lr-10{margin: 0 0.1rem;}
.mg-lr-20{margin: 0 0.2rem;}
.mg-l-20{margin-left:0.2rem;}
.br-d7{border: 1px solid #d7d7d7;}



.pd-td-10{padding: 0.1rem 0;}
.pd-td-20{padding: 0.2rem 0;}
.pd-lr-10{padding: 0 0.1rem;}
.pd-lr-20{padding: 0 0.2rem;}
html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6 {margin: 0;padding: 0;}






body {margin: 0 auto;width: 100%;height: 100%;}
/*iphone 320px*/
@media (min-width: 310px) {
    html {
        font-size: 53.3%;
    }
}

/* 安卓 360px*/
@media (min-width:350px) {
    html {
        font-size: 59.12%;
    }
}

/*iphone6 375px*/
@media (min-width: 370px) {
    html {
        font-size: 62.5%;
    }
}

/*iphone 6plus  414px*/
@media (min-width: 410px) {
    html {
        font-size: 69%;
    }

}